[hidden] {
    display: none !important;
}

/* hidden outside edit mode */
.checkbox,
.add-item,
tree-actions,
hr,
.edit-actions,
bulk-actions-bar {
    display: none;
}

/* edit mode */
body[data-edit-mode] .checkbox {
    display: revert;
}

body[data-edit-mode] tree-actions {
    display: grid;
    visibility: hidden;
}

body[data-edit-mode] .edit-actions,
body[data-edit-mode] bulk-actions-bar {
    display: flex;
}

body[data-edit-mode] .add-item,
body[data-edit-mode] hr {
    display: revert;
}

/* tree-action visibility */
tree-actions {
    visibility: hidden;
}

details[open] tree-actions {
    visibility: visible;
}

body[data-edit-mode] details[open] tree-actions {
    visibility: visible;
}
