html,
body {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
}

header {
    display: grid;
    padding-inline: .5rem;
    align-items: center;
    gap: 1rem;
    grid-template-columns: auto 1fr auto auto auto auto;
    grid-template-areas:
        "head tool edit help auth dark";

    @media (width < 1200px) {
        grid-template-columns: 1fr auto auto auto;
        grid-template-areas:
            "head edit help auth dark"
            "tool tool tool tool tool";
        row-gap: 0;
        padding-bottom: .5rem;
    }

    h1 {
        grid-area: head;
        margin-block: 0;
        margin-right: 2rem;
        user-select: none;
    }

    link-toolbar {
        grid-area: tool;
    }

    darkmode-toggle {
        grid-area: dark;
    }

    [data-action="toggle-edit"] {
        grid-area: edit;
        margin-left: auto;
    }

    [data-action="help"] {
        grid-area: help;
    }

    [data-action="login"], [data-action="logout"] {
        grid-area: auth;
    }
}

link-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .5rem;
    margin-block: .125rem;
    padding-inline: .25rem;
    min-height: 2rem;

    div {
        display: flex;
        align-items: center;
        column-gap: .5rem;
    }

    .edit-actions {
        gap: .5rem;
    }
}

bulk-actions-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;

    font-size: .6125rem;
}

main {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
    overflow-y: auto;
}

link-tree {
    display: block;
    columns: 4;

    @media (width < 1200px) {
        columns: 3;
    }

    @media (width < 900px) {
        columns: 2;
    }

    @media (width < 600px) {
        columns: 1;
    }
}

section-group {
    display: block;
    margin-bottom: 1.5rem;
    break-inside: avoid
}

subsection-group {
    display: block;
    margin-bottom: .5rem;
}

.container-header,
link-item {
    display: grid;
    gap: .25rem;
}

.container-header {
    grid-template-columns: 1.25rem 1fr auto;
}

link-item {
    grid-template-columns: 1.25rem 1fr;
}

body[data-edit-mode] .container-header {
    grid-template-columns: 1rem 1.25rem 1fr auto 2rem;
}

body[data-edit-mode] link-item {
    grid-template-columns: 1rem 1.25rem 1fr 2rem;
}

tree-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    button {
        font-size: .75rem;
    }
}

.children {
    display: grid;
}
